/**
 * @css
 * @机构管理
 */

 .wrapprSection >>>.contentbox{ 
    top:50px;
    left: 10px;
  }
  .tablePlan{
    text-align: left;
    .attr{
       color: #999;
       span{
         margin-right:0 10px;
       }
    }
  }
  
  
  
  
  