/**
 * @css
 * @检索结果
 */
 section{
  padding:0 10px;
  height:100%;
  overflow-y:hidden;
  position:relative;
  .mainTitle{
    height:50px;
    line-height:50px;
    text-align:center;
    color:#205092;
    font-size:15px;
    font-weight:700;
    span{
      font-size:18px;
    }
    button{
      margin: 11px 7px;
    }
  }
  .mainDoc{
    position:absolute;
    top:50px;
    bottom:10px;
    left:0;
    right:0;
    padding:0 12px 0 19px;
    overflow-y:auto;
    .mainCon{
      background:#fff;
      padding:10px;
      margin:20px 0;
      border-radius:2px;
      border:1px solid #c8c8cb;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      .loanTipTitle{
        position:relative;
        padding:0 10px 0 15px;
        .titleSect{
          width:7px;
          height:40px;
          background:rgb(66,139,202);
          position:absolute;
          top:0;
          left:-7px;
          border-radius:4px 0 0 4px;
        }
      }
      .waitTable{
        padding:0 10px 10px;
      }
      .listTitle{
        background:rgb(109,134,168);
        color:#fff;
        height:30px;
        line-height:30px;
        text-align:center;
        width:100px;
        border-radius:3px;
      }
      >ul li{
        margin:15px 10px;
      }
      .borderTable{
        margin-top:8px;
      }
    }
    .applyDone{
      text-align:center;
      padding:0;
    }
    .basicList{
      padding:0;
      .basicForm{
        margin:0;
      }
    }
    .basicList1{
      min-height:50px;
      margin:0px 0px 5px;
      margin:5px 10px;
      line-height: 20px;
    }
    .mainCon:first-of-type{
      margin:0;
    }
  }
  .checkModal{
    .checkCon{
      position: absolute;
      bottom: 65px;
      top: 40px;
      left:10px;
      right:10px;
    }
    .checkArea{
      height:100%;
      border:1px solid #ccc;
      overflow-y:hidden;
      position:relative;
      .topCheckCon{
        background:rgb(235,248,255);
        padding:5px 10px;
        line-height:40px;
        height:50px;
      }
      .topCheckTree{
        padding:0 10px;
        overflow-y:auto;
        position:absolute;
        width:100%;
        top:50px;
        bottom:0;
      }
    }
    .checkBottomRight{
      padding:10px;
    }
    .checkBottomLeft{
      padding:10px;
    }
  }
}
.rowsForm{
  padding:10px;
  el-row{
    margin-bottom: 5px !important;
    z-index: 1;
  }
  el-col{
    border-radius: 0px;
    z-index: 1;
  }
  .bg-purple {
    background: #ebebeb;
    text-align: right;
    // border:1px solid #ccc;
    &:nth-child(1){
      border-left:1px solid #ccc;
      border-right:1px solid #ccc;
      border-top:1px solid #ccc;
    }
  }
  .bg-purple-light {
    background: #fff;
    // border:1px solid #ccc;
    &:nth-child(1){
      border-top:1px solid #ccc;
      border-right:1px solid #ccc;
    }
  }
  .bg-purple-login {
    background: #ebebeb;
    text-align: left;
    // border:1px solid #ccc;
    &:nth-child(1){
      // border-left:1px solid #ccc;
      // border-top:1px solid #ccc;
    }
  }
  .grid-content {
    border-radius: 0;
    height: 35px;
    //line-height:28px;
    padding-right:10px;
    //max-height: 21px;
  }
  .grid-content1 {
    border-radius: 0px;
    height: 60px;
    //line-height:28px;
    padding-right:10px;
    //min-height: 72px;
    border:1px solid #ccc;
    &:nth-child(1){
      border-left:0;
    }
}
.grid-content2 {
 border-radius: 0px;
 min-height: 36px;
 margin-top:1.5%;
 margin-left:5%;
}
.row-bg {
 padding: 10px 0;
 background-color: #f9fafc;
}
.span1{
position:relative;
left:0px;
top:10px;
display:inline-block;
}
.span2{
position:relative;
left:10px;
top:10px;
.titleName{
  width:96%;
  position: relative;
  top:-8px;
  border:0
}
.inputcal{
  width:87%;
  position: relative;
  top:-3px;
  border:0
}
}
}
.textArea{
border-left:1px solid #ccc;

  .textArar{
    border:0;
    padding-left: 1em;
    padding-top: 5px;
  }
}
.span3{
  font-size: 14px;
}
.thisInp{
  position: absolute;
  right: 0px;
  top: 5px;
}
.myI{
  position: absolute;
  right: 50px;
  top: 0px;
}
.zhuanfaModal{
  .checkCon{
    position: absolute;
    bottom: 65px;
    top: 64px;
    left:30px;
    right:30px;
  }
  .daiTitle{
    position:relative;
    width: 100px;
    text-align: center;
    padding:10px 0 10px 0;
    border: 1px lightgrey solid;
  }
  .rightTitle{
    position:absolute;
    right: 0;
    top: 10px;
  }
  .myDiv{

  }
  .el-row3 {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col3 {
    border-radius: 0;
  }
  .bg-purple-dark3 {

  }
  .bg-purple3 {

  }
  .bg-purple-light3 {

  }
  .grid-content3 {
    border-radius: 0;
    min-height: 36px;
    position: relative;
    border: 1px lightgrey solid;
  }
  .grid-content4 {
    border-radius: 0;
    min-height: 72px;
    position: relative;
    border: 1px lightgrey solid;
  }
  .span4{
    position: absolute;
    right: 10px;
    line-height: 36px;
  }
  .span5{
    line-height: 36px;
    position: absolute;
    left: 10px;
  }
  .span6{
    line-height: 72px;
    position: absolute;
    right: 10px;
  }
  .myInput{
    position: absolute;
    padding: 8px 10px 10px 10px;
  }
  .thisInp1{
    position: absolute;
    right:10px;
    top: 2px;
  }
}
.thisInp2{
  position: absolute;
  left: 147px;
  top: -5px;
}

.lightEvenStyle :nth-child(3){
  .bg-purple-light{
    border-right:0;
  }
}
.lightEvenStyle :nth-child(2n-4){
  .bg-purple-light{
    border-right:0;
  }
}
.lightEvenStyle :nth-child(1){
  .bg-purple-light{
    border-right:1px solid #ccc;
  }
}
.lightEvenStyle :nth-child(4){
  .bg-purple-light{
    border-right:1px solid #ccc;
  }
}
.lightEvenStyle :nth-child(7){
  .bg-purple-light{
    border-right:1px solid #ccc;
  }
}
.lightEvenStyle :nth-child(5){
  .bg-purple-light{
    border-right:0;
  }
}
.lightEvenStyle :nth-child(6){
  .bg-purple-light{
    border-right:0;
  }
}



 


