.loanAppertext{
  line-height: 40px;
  background: #fff;
}
.wrapprSection >>>.contentbox{ 
  top:130px;
  left: 10px;
}
.ulList{
  padding: 10px;
}
.ulList li{
 float: left;
 min-width:300px;
}