
.TabRBtn i{
  color: #78c500;
  margin-right: 5px;
}
.list{
  width: 300px;
  border-right:1px solid #ccc;
  padding:10px;
}
.ulList{
  margin: 10px;
  line-height: 33px; 
  padding: 0;
}
.listtitle{
  margin: 10px;
}
body >>>.el-form-item{
  margin-bottom: 10px;
}