/**
 * @css
 * @检索结果
 */

.wrapprSection >>>.contentbox{ 
  top:110px;
  left: 10px;
}
.tablePlan{
  text-align: left;
  .attr{
     color: #999;
     span{
       margin-right:0 10px;
     }
  }
}
 .fa.fa-plus-square{
  color: #78c500;
  margin-right: 5px;
}


