/**
 * @css
 * @检索结果
 */
section{
  padding:0 10px;
  height:100%;
  overflow-y:hidden;
  position:relative;
  .mainTitle{
    height:50px;
    line-height:50px;
  }
  .mainDoc{
    position:absolute;
    top:50px;
    bottom:0;
    left:0;
    right:0;
    padding:0 10px;
    overflow-y:auto;
    .mainCon{
      background:#fff;
      padding:10px;
      margin:15px 0;
      .listTitle{
        background:rgb(109,134,168);
        color:#fff;
        height:30px;
        line-height:30px;
        text-align:center;
        width:200px;
      }
      .borderTable{
        margin-top:8px;
      }
    }
    .basicList{
      .basicForm{
        margin:15px 10px 5px;
        .basicItem{
          margin-left:5%;
        }
      }
    }
    .basicList1{
      height:70px;
      border: 1px solid #0094ff;;
      margin:0px 0px 5px;
    }
    .mainCon:first-of-type{
      margin:0;
    }
  }

  .el-row {
    margin-bottom: 0px;
    z-index: 1;
  }
  .el-col {
    border-radius: 0px;
    z-index: 1;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 0px;
    min-height: 21px;
    //max-height: 21px;
  }
  .grid-content1 {
       border-radius: 0px;
       min-height: 72px;
   }
  .grid-content2 {
    border-radius: 0px;
    min-height: 36px;
    margin-top:1.5%;
    margin-left:5%;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
.span1{
  position:relative;
  left:10px;
  top:10px;
}
.span2{
  position:relative;
  left:20px;
  top:10px;
}
.span{
  //position:relative;
  //left:2px;
  //top:10px;
  line-height: 21px;
}

  .el-header, .el-footer {
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    color: #333;
    background-color: palevioletred;
    text-align: center;
    line-height: 160px;
  }

  body > .el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .tr1{
    background-color: #d3dce6;
  }
  .tr2{
    background-color:  #e5e9f2;
  }
  .contentDiv2{
    position:absolute;
    left:68%;
    top:1%;
  }
  .contentDiv1{
    background-color: white;
    width: 97%;
    height:90%;
    position:relative;
    left:1.5%;
    bottom:-5%;
  }
  .contentDiv{
    background-color: lightgrey;
    width: 75%;
    height:100%;
    position:absolute;
    left:280px;
    top:0;
  }
  .singleDiv{
    background-color: lightgrey;
    width: 75%;
    height:100%;
    position:absolute;
    right:10px;
    top:0;
  }
  .div1{
    background-color: blue;
    width: 45%;
    height:85%;
    position: absolute;
    left: 2%;
    bottom:9%;
    cursor:pointer;
  }
  .div2{
    background-color: red;
    width: 45%;
    height:85%;
    position: absolute;
    right: 2.5%;
    bottom:9%;
    z-index: 0;
    cursor:pointer;
  }
  .div11{
    position: absolute;
    right: 53%;
    top:92%;
  }
  .div22{
    position: absolute;
    right: 2.5%;
    top:92%;
  }
  .p1{
    position: relative;
    top:2%;
    left: 2%;
  }
  .p2{
    position: relative;
    top:91%;
    left: 2%;
  }
  .p3{
    position: absolute;
    top:94%;
    right: 36.5%;
  }
  .fixModal{
    overflow:hidden;
    position:absolute;
    top:45px;
    right:0;
    left:5px;
    bottom:0;
    margin:0;
    border-radius:0;
  }
}