.fontClass{
  .el-icon-caret-top:before{
    font-size: xx-large;
    margin: -15px;
  }
  .el-icon-caret-bottom:before{
    font-size: xx-large;
    margin: -15px;
  }
  .el-icon-close:before{
    font-size: x-large;
    margin: -15px;
  }
  .el-icon-refresh:before{
    font-size: x-large;
    margin: -15px;
  }
}