.wrapprSection {
  >>>.tree, >>>.contentbox{ 
    top:50px;
  }
  >>>.tree .treeCon{
    top:60px;
  }
  >>>.contentbox.contentbox-full{ 
    left: 10px;
    overflow-y: auto;
  }
  
} 
.TabRBtn i{
  color: #78c500;
  margin-right: 5px;
}
body >>>.searchKey{
  margin-bottom:10px; 
}
.disFlex{
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
  display: -moz-box; /* Firefox 17- */  
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
  display: -moz-flex; /* Firefox 18+ */  
  display: -ms-flexbox; /* IE 10 */  
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */ 
  .uMsg{
    float:left;
    width:300px;
    height:100%
  }
  .flex1{
    float:left;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;    
    height:100%;
    .w100{
      width:100%;
    }
    .borderleft{
      border-left: 1px solid #ccc;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner {
      width: 140px;
    }
    .el-select {
      width: 140px;
    }
  }
}



