/*....................................................................................!*通配*!........................................................................*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*通用*/
*{
    box-sizing: border-box;
    font-family:'微软雅黑';
}
html{
    font-size:16px;
    overflow: auto!important;
    min-width: 1100px!important;
}

body {
    margin: 0;
    padding: 0;
    font-family:'微软雅黑';
    font-size: 0.875rem;
    -webkit-font-smoothing: antialiased;
    background-color:#F2F7FE;
    line-height: 1;
    color: #333;
}

ol, ul,li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    // color: inherit;
    // text-decoration: none;
}

html,body{
    position: relative;
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
}

a:hover, a:visited, a:link, a:active {
    // text-decoration: none;
    // color:inherit;
}



/*........................................................................................!自定义样式!........................................................................*/

.lt{
    float:left;
}

.rt{
    float:right;
}
.text-right{
    text-align: right
}
.textCenter{
    text-align: center
}
.clear:before{
    content:'';
    display: table;
}

.clear:after{
    content:'';
    display:block;
    clear: both;
}

textarea,input,button,select{
    outline:0 !important;
}

.none{
    display:none;
}

.active{
    display:block;
}

/*placeholder*/
input::-webkit-input-placeholder{
    font-size:0.875rem;
}

input::-moz-placeholder{
    font-size:0.875rem;
}

input:-ms-input-placeholder{
    font-size:0.875rem;
}
.checkProcess input::-webkit-input-placeholder{
    color: red;
}
.checkProcess input::-moz-placeholder{
    color: red;
}

.checkProcess input:-ms-input-placeholder{
    color: red;
}

/*时间插件*/
.laydate_box, .laydate_box * {
    box-sizing:content-box;
}

::-webkit-scrollbar{
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 2px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb{
    height: 20px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
  }

.textBlue{
    color: #06609d;
}
.more,.down{
    color: #666;
    text-underline-position: above;  
    cursor: pointer; 
}
.liIcon{
    color:#ff9400;
    margin-right: 10px;
    font-size: 1rem
}
.boxshow{  
    border: 1px solid #c8c8cb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.boxshow02{  
    border: 1px solid #c8c8cb;
    border-top:none;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
.erpTab .el-tabs__header{
    margin: 0;
    border-bottom: 2px solid #005999;
    .el-tabs__item.is-active{
        color: #fff;
        background-color: #005999; 
        border-bottom-color: #005999;  
    }
    .el-tabs__item{
        background: #fff;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}
.erpTab .el-tabs__content{
    margin: 0;
    .mainBorrowBottom{
        background: #ffffff !important;
        .el-tabs__header {
            border-bottom: 2px solid #fff;
            .el-tabs__nav-wrap {
                margin-bottom: -4px;
            }
        }
    }
    .el-tabs__item.is-active{
        color:#2fa1e2;
        border-bottom-color: #005999;
        background: #ffffff;
        border-bottom: 4px solid #2fa1e2;
    }
    .el-tabs__item{
        background: #fff;
        padding: 0 10px!important;
        margin: 0 10px 0 0;
        background: none;
        height: 50px;
        line-height: 50px;
    }
}
.batchEditDialogView{
    .erpTab .el-tabs__header{
        border: none;
        .el-tabs__item.is-top{
            border-bottom: 1px solid #e4e7ed;
        }
    }
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.TabRBtn{
    position: absolute;  
    right: 0;
    .el-button{
        margin-right: 10px;
    }
}
.wrapprSection{
    padding:0 10px;
    height:100%;
    overflow-y:hidden;
    position:relative;
    .mainTitle{
      color:#2b87c6;
      font-weight:600;
      font-size:1rem;
      height:50px;
      line-height:50px;
      > span{
        padding:0 10px;
        border-left:4px solid #2b87c6;
      }
    }
    .tree{
      position:absolute;
      top:0px;
      bottom:10px;    
    }
    .treeOne{
      width:254px;   
      .treeTitle{
        height: 50px;
        line-height: 50px;
        padding:0 10px; 
        background:#fff;
      }
      .treeCon{
        position:absolute;
        top:50px;
        bottom:0;
        overflow-y:auto;
        width:100%;
        padding:3px;
        background:#fff;
      }
    }
    .contentbox{
      position:absolute;
      top:0px;
      left:270px;
      right:10px;
      bottom:10px;
      .searchCon{
        height:100%;
        background:#fff;
        position:relative;
        padding: 10px;
        overflow-y: auto;
      }
      .searchBorrowCon{
        height:100%;
        background:#fff;
        position:relative;
        // padding: 10px;
      }
    }
  }
.treeTitle.textBlue{
    font-size: 0.875rem;
    font-weight: 600;
}
.el-tree{
    .el-tree-node__label{
      font-size:0.875rem;   
    }
      .el-tree-node__content{
        margin-bottom: 5px;
      }
  }

.icontree .el-tree-node__expand-icon.el-icon-caret-right{
    width: 50px;
    background: url(../imgs/treeicon_18.png) no-repeat center
}
.icontree .el-tree-node__expand-icon.el-icon-caret-right.expanded{
  background: url(../imgs/treeicon_09.png) no-repeat center;
  transform: rotate(0deg);
}
.icontree .el-tree-node__expand-icon.el-icon-caret-right.is-leaf{
    width: 35px;   
    background: url(../imgs/treeicon_15.png) no-repeat center;    
}
.icontree .el-icon-caret-right:before{
    visibility: hidden;
}
// 树形表格展开图标修改
.el-table__expand-icon .el-icon-arrow-right:before{
    visibility: hidden;
}
.el-table__expand-icon .el-icon.el-icon-arrow-right{
    width: 20px;
    background: url(../imgs/treeicon_18.png) no-repeat 5px -1px;
    height: 20px;
}
.el-table__expand-icon.el-table__expand-icon--expanded {
    transform: rotate(0deg);
}
.el-table__expand-icon.el-table__expand-icon--expanded .el-icon.el-icon-arrow-right{
    width: 20px;
    background: url(../imgs/treeicon_09.png) no-repeat 5px -1px;
    height: 20px;
}
tr.el-table__row.el-table__row--level-1 .el-table__expand-icon {
    width: 20px !important;
    .el-icon-arrow-right {
        left: 30px;
    }
}
.SPsteps{ 
    width: 800px;   
    margin: 0px auto
}
.SPsteps  .el-step__icon.is-text{
    border-radius: 10px;
    width: 166px;
    border:0;
    padding:10px 15px;
    height: 30px;
}
.SPsteps .el-step__title , .SPsteps .el-step__description{
    text-align: center;
    color: #000;
    font-size: 0.875rem;
}

.SPsteps .el-step__main{
    width: 200px;
}
.SPsteps  .el-step__head.is-success .el-step__icon.is-text{
    background: #009111;
    color: #fff
}
.SPsteps  .el-step__head.is-error .el-step__icon.is-text{
    background: #f00;
    color: #fff
}
.SPsteps  .el-step__head.is-finish .el-step__icon.is-text{
    background: #dd7e29;
    color: #fff
}
.SPsteps  .el-step__head.is-wait .el-step__icon.is-text{
    background: #ccc;
    color: #fff
}
.SPsteps  .el-step.is-horizontal .el-step__line{
    top:15px
}
.h40{
    height: 40px;
}
.mt0{
    margin-top:0px!important;
}
.t0{
   top:0px;
}
.t13{
    top:13px;
 }
 .t62{
    top:62px;
 }
 .pd5{
     padding:5px;
 }
.r0{
    right:0px;
}
.r10{
    right:10px;
}
.r15{
    right:15px;
}
.mt02{
    margin-top: -2px;
}
.mt5{
    margin-top:5px;
}
.mt8{
    margin-top:8px;
}
.mb10{
    margin-bottom: 10px;
}

.mt10{
    margin-top:10px !important;
}
.mt20{
    margin-top: 20px !important;
}
.m0-auto{
    margin: 0 auto;
}
.mt62{
    margin-top:62px;
}
.ml10{
    margin-left:10px;
}
.h100 {
    height: 100%;
}
.ml20{
    margin-left:20px;
}
.m10{
    margin:10px;
}
.mlr10{
    margin: 0 10px;
}
.overflowXa{
    overflow-x: auto;
}
.mr10{
    margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.ml50{
    margin-left: 50px;
}
.ml10{
    margin-left:10px;
}
.mt20{
    margin-top:20px;
}
.mt40{
    margin-top:40px;
}
.bt50{
    bottom: 50px;
  }
.pd10{
    padding: 10px;
}
.wp-56 {
    width: 56%;
}
.wp-48 {
    width: 48%;
}
.wp-40 {
    width: 40%;
}
.wp-29 {
    width: 29%;
}
.w-110 {
    width: 110px;
}
.wp-87 {
    width: 87%;
}
.wp-80 {
    width: 80%;
}
.wp-88 {
    width: 88%;
}
.wp-100 {
    width: 100%;
}
.pdl-10{
    padding-left: 10px;
}
.pdr-5{
    padding-right: 5px;
}
.pdr-10{
    padding-right: 10px;
}
.d-ib{
    display: inline-block;
}
.cur-p{
    cursor: pointer;
}
.ta-c{
    text-align: center;
}
.ta-r{
    text-align: right;
}
.border-c8c8cb {
    border: 1px solid #c8c8cb;
}
.ta-l{
    text-align: left;
}
.bgwhite{
    background: #fff;
    margin:0 1px 1px 1px;
   
}
.bgwhite2 {
    background: #fff;
}
.box-card.yw{
    height: 100%;
    position: relative;
    .el-card__body {
      position: absolute;
      width: 100%;
      height: 100%;  
      top: 60px;
      left: 0px;
      bottom: 10px;  
    }
    .el-card__header .namelist{
        margin-right: 20px;
        font-size: 0.875rem;
        line-height: 40px;
    }
  }
  .tipPlanwrappr{
          position: relative;
          padding-left: 30px;
          .tipPlan{
            border: 3px solid #2b87c6;
            border-radius: 3px;
            width: 100%;
            min-height: 200px;
            padding: 10px;
            .tip{
                position: absolute;
                left: 0;
                top: 0px;
                height: 40px;
                width: 30px;
                border-top-left-radius: 5px; 
                border-bottom-left-radius : 5px;
                background: #2b87c6;
                color: #fff;
                text-align: center;
                line-height: 40px;
            }  
        }
  }
  .ulList{
    padding: 10px;
  }
  .ulList li{
   float: left;
   min-width:200px;
  }
  .footBtn{
    margin:10px auto;
    text-align:center;
    
}
.footerBar{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
  }
.text-left{
    text-align: left!important
}
.text-right{
    text-align: right!important
}
.el-checkbox{
    margin-right: 0px!important
  }
// 树节点选中样式
.el-tree-node.is-current.is-focusable {
    background: #F5F7FA;
    .el-tree-node__children {
        background: #ffffff;
    }
    .el-tree-node.is-current.is-focusable {
        background: #F5F7FA;
    }
}
//统一修改提示框，确定和取消按钮调换位置
.el-message-box__btns button:nth-child(2) {
    margin-right: 10px;
}
.el-message-box__btns button:nth-child(1) {
    float: right;
}

em{
    color:red!important;
    font-style: normal;
  
  }
.vue-treeselect__control{
  height: 32px !important;
  margin-top: 5px;
}
.diabledSelect .el-select .el-input.is-disabled .el-input__inner {
    cursor: not-allowed;
    background-color: white;
    color: black;
}