.wrapprSection >>>.contentbox{
  top:110px;
  left: 10px;
}
.tablePlan{
  text-align: left;
  .attr{
     color: #999;
     span{
       margin-right:0 10px;
     }
  }
}
.el-form-item{
  margin-bottom: 18px;
}



