

 .wrapprSection  >>>.tree,.wrapprSection >>>.contentbox{ 
    top:50px;    
  }
  .wrapprSection  >>>.tree{
    right: 10px;
    .defaultBtn.rt{
      margin: 10px 5px;
    }   
  }
  .wrapprSection >>>.contentbox{
    left: 10px;   
    right: 270px;
  }
  .wrapprSection .treeOne .treeCon{
    top: 58px
  }
.roleTitle{
  line-height: 35px;
  clear: both;
  width: 100%;
  overflow: hidden;
}
