/**
 * @css
 * @数据字典
 */
 section{
    padding:0 10px;
    height:100%;
    overflow-y:hidden;
    .titleBlue{
        width:99%;
        height:30px;
        margin:10px 0;
        position: absolute;
        color:#7ca9d6;
        font-size: 16px;
        font-weight:800;
        padding: 3px 15px;
        b{
          width:5px;
          height:18px;
          background: #7ca9d6;
          position: absolute;
          left:0;
          top:3px;
        }
      }
      .bigbox{
          height: 90%;
          position: relative;
          .fontClass{
            color:#7ca9d6;
            font-size:18px;
            position: absolute;
            left:0;
            top:40px;
            text-align:right;
            background: #fff;
            width:30%;
            padding: 3px;
            }
          .left{
              width:30%;
              height:96%;
              margin-top:60px;
              position: relative;
              background:#fff;
              float:left;
              .maskDic{
                  float:left;
                  width:100%;
                  height: auto;
                 
              }
            //   .common{
            //     float:left;
            //     width:50%;
            //     height: auto;
            //     margin-top:25px;
            //     ul{
            //         li{
            //             line-height:30px;
            //         }
            //     }
            //   }
          }
          .right{
              width:69%;
              float:right;
              margin-top:40px;
              position: relative;
              .addBtns{
                position: absolute;
                right: 0;
                top: -30px;
              }
          }
      }
  }
  .active{
    background:#7ca9df;
    color: #fff;
  
  }
//   .addDiog{
//     .is-error .el-form-item__content .el-form-item__error{
//             &:nth-child(2){
//             padding:3px 0 0 80px!important;
//             }
//             &:nth-child(3){
//                 padding:3px 0 0 67px!important;
//             }
        
       
//     }
//   }